body {
    background: #086CA2;
    color: white;
}

h1 {
    color: white;
}

thead tr {
    background: black;
}

tr {
    background: #3C9DD0;
    padding: 3px;
    cursor: pointer;
}

button {
    margin: 0px;
}

button img {
    height: 10px;
}