html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    background: #086CA2;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;

}

#container h1 {
    color: white;
    text-align: center;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 40px;
    margin-bottom: 1px;
}

#main {
    float: left;
    width: 84%;
    height: 100%;
    border-bottom: 2px solid;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: -ms-linear-gradient(top right, #FFFFFF 0%, #086CA2 100%);
    background-image: -moz-linear-gradient(top right, #FFFFFF 0%, #086CA2 100%);
    background-image: -o-linear-gradient(top right, #FFFFFF 0%, #086CA2 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #086CA2));
    background-image: -webkit-linear-gradient(top right, #FFFFFF 0%, #086CA2 100%);
    background-image: linear-gradient(to top left, #FFFFFF 0%, #086CA2 100%);
}

#sideBar {
    float: left;
    border-right: 2px solid;
    border-bottom: 2px solid;
    height: 100%;
    width: 15%;
    padding: 0px;
}

#roomList {
    height: 50%;
    border-bottom: 2px dashed;
    background: #3C9DD0;
    overflow: scroll;
    overflow-x: hidden;
}

#roomList ul {
    padding: 0;
    margin-top: -2px;
}

#messageBox {
    height: 50%;
    background: #64AAD0;
    overflow-x: hidden;
}

.titleBar {
    cursor: default;
    background: #FF8B00;
    font-size: 15px;
    color: black;
    height: 20px;
}

.titleBar p {
    display: inline;
    letter-spacing: 2px;
}

.titleBar a {
    display: inline;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.titleBar a.close {
    float: right;
    display: inline;
    letter-spacing: 2px;
    font-size: 15px;
    color: #034569;
    text-decoration: none;
}

.titleBarActive {
    cursor: default;
    background: #FDD017;
    font-size: 15px;
    color: black;
    height: 20px;
}

.titleBarActive p {
    display: inline;
    letter-spacing: 2px;
}

.titleBarActive a {
    display: inline;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.titleBarActive a.close {
    float: right;
    display: inline;
    letter-spacing: 4px;
    font-size: 15px;
    color: #034569;
    text-decoration: none;
}

.smallButton {
    display: block;
    background: #086CA2;
    font-size: 16px;
    font-family: Courier, "Courier New";
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
}

.imageWindow {
    border: 4px solid black;
    left: 20%;
    top: 0;
    position: absolute;
    height: 800px;
    width: 800px;
    z-index: 0;
    overflow: hidden;
}

.viewport {
    background: grey;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.imageGrid {
    padding: 0;
    line-height: 0;
}

.imageCanvas {
    width: 100%;
    height: 100%;
    background: grey;
    display: inline-block;

}

.loading {
    color: red;
}

.patient {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    padding: 0;
}

.patient h3 {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.patient h3 img {
    margin-left: 7px;
    margin-right: 3px;
}

.patient div {
    font-size: 14px;
    margin-left: 35px;
}

.patient div li {
    list-style-image: url('../img/document.png');
}

.rooms {
    height: auto !important;
}

#chatContent {
    height: 60%;
    width: 100%;
    overflow-y: scroll;
}

#chatContent table {
    width: 100%;
}

#chatContent td {
    width: 100%;
    word-wrap: break-word;
    padding: 6px;
    background: #add8e6;
    border: 2px white solid;
    border-radius: 4px;
}


#chatControl {

    background: white;
    height: 20%;
    width: 100%;
    overflow: hidden;
    padding: 3px;
}

#chatControl input {
    margin-left: 10px;
}


#chatRoomId {
    color: white;
    text-align: center;
    font-size: 12px;
    letter-spacing: 6px;
}
