html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0;
    background: #086CA2;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;

}

#container h1 {
    color: white;
    text-align: center;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 40px;
    margin-bottom: 1px;
}

#main {
    float: left;
    width: 84%;
    height: 100%;
    border-bottom: 2px solid;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: -ms-linear-gradient(top right, #FFFFFF 0%, #086CA2 100%);
    background-image: -moz-linear-gradient(top right, #FFFFFF 0%, #086CA2 100%);
    background-image: -o-linear-gradient(top right, #FFFFFF 0%, #086CA2 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #086CA2));
    background-image: -webkit-linear-gradient(top right, #FFFFFF 0%, #086CA2 100%);
    background-image: linear-gradient(to top left, #FFFFFF 0%, #086CA2 100%);
}

#sideBar {
    float: left;
    border-right: 2px solid;
    border-bottom: 2px solid;
    height: 100%;
    width: 15%;
    padding: 0px;
    margin: 0 auto;
}

#roomList {
    height: 40%;
    border-bottom: 2px dashed;
    background: #3C9DD0;
    overflow: scroll;
    overflow-x: hidden;
}

#roomList ul {
    padding: 0;
    margin-top: -2px;
}

#messageBox {

    height: 40%;
    background: #64AAD0;
    overflow-x: hidden;
    margin-bottom: 0px;
}

.titleBar {
    cursor: default;
    background: #FF8B00;
    font-size: 15px;
    color: black;
    height: 19px;
    overflow: hidden;
}

.titleBar p {
    display: inline;
    letter-spacing: 2px;
}

.titleBar a {
    display: inline;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.titleBar a.close {
    float: right;
    display: inline;
    letter-spacing: 2px;
    font-size: 15px;
    color: #034569;
    text-decoration: none;
}

.titleBarActive {
    cursor: default;
    background: #FDD017;
    font-size: 15px;
    color: black;
    height: 19px;
    overflow: hidden;
}

.titleBarActive p {
    display: inline;
    letter-spacing: 2px;
}

.titleBarActive a {
    display: inline;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.titleBarActive a.close {
    float: right;
    display: inline;
    letter-spacing: 4px;
    font-size: 15px;
    color: #034569;
    text-decoration: none;
}

.smallButton {
    display: block;
    background: #086CA2;
    font-size: 16px;
    font-family: Courier, "Courier New";
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
}

.imageWindow {
    border: 4px solid black;
    left: 20%;
    top: 0;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

.viewport {
    background: grey;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.imageGrid {
    padding: 0;
    line-height: 0;
}

.imageCanvas {
    width: 100%;
    height: 100%;
    background: grey;
    display: inline-block;

}

.loading {
    color: red;
}

.patient {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    padding: 0;
}

.patient h3 {
    padding: 0;
    margin: 0;
    display: inline;
    font-size: 15px;
    cursor: pointer;
}

.patient h3 img {
    margin-left: 7px;
    margin-right: 3px;
    cursor: default;
}

.patient div {
    font-size: 14px;
    margin-left: 35px;
}

.photoListItem {
    list-style-image: url('../img/document.png');
}

.photoListItemAdd {
    list-style-image: url('../img/plus-small.png');
}
.photoListItemAdd p {
    display: inline;
    cursor: pointer;
}

.rooms {
    height: auto !important;
}

#chatContent {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#chatContent table {
    width: 100%;
}

#chatContent td {
    width: 100%;
    word-wrap: break-word;
    padding: 6px;
    background: #add8e6;
    border: 2px white solid;
    border-radius: 4px;
}

#chatControl {
    background: white;
    width: 98%;

    padding: 2px;

}

#chatControl input {
    width: 70%;
}

#chatControl button {
    width: 20%;
    font-size: 11px;
}

#chatRoomId {
    color: white;
    text-align: center;
    font-size: 12px;
    letter-spacing: 6px;
}

.imageTag {
    background: #ffff00;
    color: black;
    padding: 2px;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid red;
    border-top: 1px solid red;
    cursor: default;
    font-size: 12px;
}

.sidebarButton {
    background: rgb(60, 157, 208);
    font-size: 16px;
    font-family: Courier, "Courier New";
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
    color: white;
}

.photoRemove {
    float: right;
    margin-right: 10%;
}


.patientRemove {
    float: right;
    margin-right: 10%;
    margin-top: 3px;
}

.patientEdit {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}


.manageRooms {
    margin-top:2px;
    padding: 5px;
    display:block;
    background: white;
}
.manageRooms p {
    cursor: pointer;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.manageRooms div {
    font-size: 14px;
    margin-left: 35px;
}

#rooms > h3 {
    background: #F8F8F8;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 3px;
    color: slategrey;
}

.patient {
    background: white;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.patient a {
    color: slategrey;
}
