html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;

}

#main {
    float: left;
    width: 80%;
    height: 100%;
    border-bottom: 2px solid;
    margin: 0;
    padding: 0;
    background: #086CA2;
    overflow: hidden;
}

#sideBar {
    float: left;
    border-right: 2px solid;
    border-bottom: 2px solid;
    height: 100%;
    width: 19%;
}

#roomList {
    height: 30%;
    border-bottom: 2px dashed;
    background: #3C9DD0;
}

#messageBox {
    height: 70%;
    background: #64AAD0;
}

.titleBar {
    background: #FF8B00;
    font-size: 15px;
    color: black;
    height: 20px;
}

.titleBar p {
    display: inline;
    letter-spacing: 4px;
}

.titleBar a {
    display: inline;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.titleBar a.close {
    float: right;
    display: inline;
    letter-spacing: 4px;
    font-size: 15px;
    color: #034569;
    text-decoration: none;
}


.titleBarActive {
    background: #FDD017;
    font-size: 15px;
    color: black;
    height: 20px;
}

.titleBarActive p {
    display: inline;
    letter-spacing: 4px;
}

.titleBarActive a {
    display: inline;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.titleBarActive a.close {
    float: right;
    display: inline;
    letter-spacing: 4px;
    font-size: 15px;
    color: #034569;
    text-decoration: none;
}



.smallButton {
    display: block;
    background: #086CA2;
    font-size: 16px;
    font-family: Courier, "Courier New";
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
}

.imageWindow {
    border: 4px solid black;
    left: 20%;
    top: 0;
    position: absolute;
    height: 800px;
    width: 800px;
    z-index: 0;
    overflow: hidden;
}

.viewport {

    background: grey;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.imageGrid {
    padding: 0;
    line-height: 0;
}

.imageCanvas {
    width: 100%;
    height: 100%;
    background: grey;
    display: inline-block;

}